@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* CSS variable: https://www.w3schools.com/css/css3_variables.asp */
:root {
    /* Colors: https://color.adobe.com/trends */
    --main-color: #F24150;
    --secondary-color: #71BBD9;
    --accent-color1: #F2CA52;
    --accent-color2: ##BF4539;
    --accent-color3: ##A64833;
    --background-color: whitesmoke;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    /* to remove browsers default margin */
    margin: 0;
}

/* NAV */
.sticky {
    position: fixed;
    width: 100vw;
}

.nav-background {
    background: var(--main-color);
}

.main-nav {
    padding: 0;
    margin: 0;
    display: flex;
    /* to remove bullet of li */
    list-style: none;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 1em;
    }
}


li {
    padding: 20px;
}

.push-right {
    margin-left: auto;
}

a {
    color: white;
    /* Remove underline of <a> */
    text-decoration: none;
}

nav {
    text-transform: uppercase;
}

/* COVER */
.cover-container {
    background-color: white;
    height: 50vh;
    display: flex;
    /* Cross axis alignment */
    align-items: center;
    /* Main axis alignment */
    justify-content: center;
}

/* GRID ITEMS */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.grid-item {
    background: var(--accent-color1);
    height: 300px;
    display: flex;
    /* Cross axis alignment */
    align-items: center;
    /* Main axis alignment */
    justify-content: center;
}

/* FOOTER */
footer {
    text-align: center;
    background: var(--main-color);
    color: white;
}